body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  display: flex;
}



.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
}

.Events {
  box-shadow: 1px, rgb(177, 16, 16);
}

h1 {
  color: #00556e;
  margin-bottom: 50px !important;
}

form{
  margin-top: 50px;
}

.btn{
color: #e1dee5;
width: 150px ;
background-color: rgb(213, 32, 207);
border: 6px rgb(7, 6, 6);
margin-top: 50px;
margin-bottom: -60px;
margin-left: 900px;
border-radius: 12px;
}

.button-container{
display: flex;

}

.icon{
  fill: #e21266;
}


.modevents {
  width: 100%;
  border-radius: 10px;
  box-shadow: #00556e;
  display: flex;
  justify-content: space-between;
}
